DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=root
DB_PASSWORD=

DB_CONNECTION_LIMIT=10

PORT=3000
JWT_SECRET=replace_this_with_a_generated_secret
JWT_EXPIRES_IN=1d
STUDENT_MAX_ACTIVE_FUTURE_BOOKINGS=3
